DB = {
    'ENGINE': 'django.db.backends.mysql',
    'NAME': 'database_name',
    'USER': 'username',
    'PASSWORD': 'db_password',
    'HOST': 'localhost',
    'PORT': 3306,
}

CONFIG = {
    'ALLOWED_HOSTS': ['34.93.246.77'],
    'SECRET_KEY': 'SECRET_KEY',
    'DEBUG': True,
}
